#!/usr/bin/bash
# Variables
password="{{ psql_login_password }}"
user_password="{{ psql_user_password }}"
user_name="{{ psql_user_name }}"
db_name="{{ psql_db_name }}"
config="{{ psql_config }}"

#Create the file repository configuration:
sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'

# Import the repository signing key:
wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -

# Update the package lists:
sudo apt-get update

# Install the latest version of PostgreSQL.
# If you want a specific version, use 'postgresql-12' or similar instead of 'postgresql':
sudo apt-get -y install postgresql

# Create User
sudo -u postgres createuser -s "$user_name"

# Create database
sudo -u postgres createdb "$db_name" -O "$use_rname"

# Set UserName Password
sudo -u postgres psql -c "ALTER USER "$user_name" WITH PASSWORD '${user_password}';"

# Set User Password
sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD '${password}';"

# Restart PostgreSQL
sudo systemctl restart postgresql
